<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Тег для корректного отображения интерфейса на безрамочных смартфонах -->
    <!-- Подробнее: https://css-tricks.com/the-notch-and-css/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="main.css" />

    <script defer src="scripts-main.js"></script>
  </head>
  <body>
    <div class="home">
      <div class="div">
          <div class="spacing"><div class="x-spacing"></div></div>
          <div class="spacing-size"><div class="x-spacing-2"></div></div>
        </div>
        <div class="content">
          <div class="x-spacing-wrapper"><div class="x-spacing-3"></div></div>
          <div class="typography"><div class="head">Hello Pashtet,</div></div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="typography-2">
            <p class="text-advice"></p>
          </div>
          <div class="x-spacing-wrapper"><div class="x-spacing-5"></div></div>
          <div class="stat">
            <img class="button" src="./assets/fall-in-button.png" />
            <div class="stat-2">
              <div class="overlap"><img class="icon-2" src="./assets/leaf-w.svg" /></div>
              <div class="overlap-group-2">
                <div class="typography-wrapper"><div class="typography-3">of calm</div></div>
                <div class="typography-4"><div class="text-2">18868 minutes</div></div>
              </div>
            </div>
          </div>
          <div class="spacing-2"><div class="x-spacing-4"></div></div>
          <div class="how-r-u">
            <div class="typography-5"><p class="p">How do you feel today?</p></div>
            <div class="frame">
              <span class="integer">999</span>
              <div class="circle">
                <img class="icon-3" src="./assets/mood1.svg" onclick="handleIconClick(event)"/>
              </div>
              <span class="integer">1</span>
              <div class="circle">
                <img class="icon-3" src="./assets/mood2.svg" onclick="handleIconClick(event)"/>
              </div>
              <span class="integer">2</span>
              <div class="circle">
                <img class="icon-3" src="./assets/mood3.svg" onclick="handleIconClick(event)"/>
              </div>
              <span class="integer">3</span>
              <div class="circle">
                <img class="icon-3" src="./assets/mood4.svg" onclick="handleIconClick(event)"/>
              </div>
              <span class="integer">4</span>
              <div class="circle">
                <img class="icon-3" src="./assets/mood5.svg" onclick="handleIconClick(event)"/>
              </div>
              <span class="integer">5</span>
            </div>
          </div>
          <div class="spacing-3"><div class="x-spacing-5"></div></div>
          <div class="typography-6"><div class="text-3">Special for you</div></div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="cards">
            <img class="rectangle-3" src="./assets/game1.png" />
            <div class="cell">
              <div class="text-group">
                <div class="typography-7"><div class="typography-8">4 of 25</div></div>
              </div>
              <img class="icon-arrow" src="./assets/arrow-back.svg" />
            </div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="cards">
            <img class="rectangle-3" src="./assets/game2.png" />
            <div class="cell">
              <div class="text-group">
                <div class="typography-7"><div class="typography-8">Matryoshka</div></div>
              </div>
              <img class="icon-arrow" src="./assets/arrow-back.svg" />
            </div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="cards">
            <img class="rectangle-3" src="./assets/game3.png" />
            <div class="cell">
              <div class="text-group">
                <div class="typography-7"><div class="typography-8">Cicero’s Method</div></div>
              </div>
              <img class="icon-arrow" src="./assets/arrow-back.svg" />
            </div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="cards">
            <img class="rectangle-3" src="./assets/game4.png" />
            <div class="cell">
              <div class="text-group">
                <div class="typography-7"><div class="typography-8">3 of 60</div></div>
              </div>
              <img class="icon-arrow" src="./assets/arrow-back.svg" />
            </div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
        </div>
      </div>
      <footer class="tabbar">
        <div class="tab-bar-home">
          <div class="overlap-group">
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="text-wrapper">HOME</div>
                <div class="navigation-bar-icon"><img class="icon" src="./assets/home-w.svg" /></div>
              </div>
            </div>
            <div class="icon-wrapper"><img class="img" src="./assets/user.svg" /></div>
            <img class="navigation-bar-icon-2" src="./assets/leaf.svg" />
            <img class="line" src="./assets/buttom-line.svg" />
          </div>
        </div>
    </div>
  </body>
</html>
