<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Тег для корректного отображения интерфейса на безрамочных смартфонах -->
    <!-- Подробнее: https://css-tricks.com/the-notch-and-css/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="fill-info.css" />
  </head>
  <body>
    <div class="aut-fill-profile">
      <div class="div">
        <div class="safe-area">
          <div class="spacing"><div class="x-spacing"></div></div>
          <div class="spacing-size"><div class="x-spacing-2"></div></div>
        </div>
        <div class="content">
          <div class="x-spacing-wrapper"><div class="x-spacing-3"></div></div>
          <div class="typography">
            <div class="head-wrapper"><div class="head">Fill Your Profile</div></div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="text-wrapper">
            <p class="text">Don’t worry, you can always change it later, or you can skip it for now.</p>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="photo">
            <div class="overlap">
              <div class="image">
                <img class="avatar" src="./assets/avatar.svg" />
              <div class="edit">
                <div class="overlap-group"><img class="icon" src="./assets/edit.svg" /></div>
              </div>
            </div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="input">
            <div class="cell">
              <div class="text-group">
                <div class="typography-2"><input class="typography-3" placeholder="Full Name" type="text" /></div>
              </div>
            </div>
          </div>
          <div class="spacing-2"><div class="x-spacing-5"></div></div>
          <div class="input">
            <div class="cell">
              <div class="text-group">
                <div class="typography-2"><input class="typography-3" placeholder="Nickname" type="text" /></div>
              </div>
            </div>
          </div>
          <div class="spacing-2"><div class="x-spacing-5"></div></div>
          <div class="input">
            <div class="cell">
              <img class="img" src="./assets/group.svg" />
              <div class="text-group">
                <div class="typography-2"><input class="typography-3" placeholder="Email" type="email" /></div>
              </div>
            </div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="skip-start">
            <button class="skip-button">
              <div class="typography-2"><div class="typography-4">Skip</div></div>
            </button>
            <button class="start-button">
              <div class="typography-2"><div class="typography-5">Start</div></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
