<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- Тег для корректного отображения интерфейса на безрамочных смартфонах -->
    <!-- Подробнее: https://css-tricks.com/the-notch-and-css/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">

    <link rel="stylesheet" href="templates/style.css" />
    <link rel="stylesheet" href="templates/auth.css" />

    <script defer src="templates/scripts.js"></script>
  </head>
  <body>
    <div class="aut">
      <div class="div">
        <div class="safe-area">
          <div class="spacing"><div class="x-spacing"></div></div>
          <div class="spacing-size"><div class="x-spacing-2"></div></div>
        </div>
        <div class="content">
          <div class="x-spacing-wrapper"><div class="x-spacing-3"></div></div>
          <div class="typography">
            <div class="head">Create your <br />Account</div>
          </div>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="input">
            <div class="cell">
              <img class="icon" src="templates/assets/group.svg" />
              <div class="text-group">
                <div class="typography-2"><div contenteditable="true" class="login">Login</div></div>
              </div>
            </div>
          </div>
          <div class="spacing-2"><div class="x-spacing-5"></div></div>
          <div class="cell-wrapper">
            <div class="cell-2">
              <img class="icon" src="templates/assets/lock.svg" />
              <div class="typography-wrapper">
                <div class="typography-2"><div contenteditable="true" class="password">Password</div></div>
              </div>
              <img class="icon" src="templates/assets/eye.svg" />
            </div>
          </div>
          <div class="spacing-2"><div class="x-spacing-5"></div></div>
          <div class="remember-me">
            <div class="checkboxes-wrapper">
              <div class="checkboxes">
                <div class="state-layer"><div class="container"></div></div>
              </div>
            </div>
            <div class="link-wrapper"><div class="link">Remember me</div></div>
          </div>
          <div class="spacing-2"><div class="x-spacing-5"></div></div>
          <button class="button-login">
            <div class="typography-3"><div class="typography-4">Sign up</div></div>
          </button>
          <div class="div-wrapper"><div class="x-spacing-4"></div></div>
          <div class="or">
            <div class="overlap-group">
              <div class="typography-5"><div class="typography-6">or continue with</div></div>
              <img class="line-left" src="templates/assets/line.svg" />
              <img class="line-right" src="templates/assets/line.svg" />
            </div>
          </div>
          <div class="spacing-3"><div class="x-spacing-6"></div></div>
          <div class="google-apple">
            <div class="button-2">
              <img class="google-b" src="templates/assets/google.svg" /> 
            </div>
            <div class="button-3">
              <img class="apple-b" src="templates/assets/apple.svg" />
            </div>
          </div>
          <div class="x-spacing-wrapper"><div class="x-spacing-3"></div></div>
          <div class="sec-text-wrapper">
            <p class="sec-text">
              <span class="span">Already have an account?&nbsp;&nbsp; </span>
              <span class="text-wrapper-2">Sign in</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
